<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<% @comments.each do |comment| %>
  <div>
    <div><%= comment.comment %></div>
    <div><%= link_to 'Reply', new_comment_path(parent_id: comment) %></div>
    <div><%= link_to 'Edit', edit_comment_path(comment) %></div>
    <div><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>


<br>

<%= render 'form' %>

