<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.post %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @post.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>

<%= render 'comments/show' %>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
